/* #ifndef APP-NVUE */
/* 设置全局样式 */
/* (1) 页面高度100%,默认字体28upx,默认行高1.4,背景颜色 */
page{
	/* height: 100%; */
	font-size: 28rpx;
	line-height: 1.4;
	background: #f5f5f5;
}

button{border: 0;padding: 0;margin: 0;}
button:after{border: 0;}

/* (2) 图片默认100%宽度 */
image{  width: 100%;height: 100%;box-sizing: border-box; display: block;}
::-webkit-scrollbar{
	display: none;
}
uni-button:after{border: 0;}

.D{padding-top: 20rpx!important;padding-bottom: 30rpx!important;}
.null{width:199rpx;height: 184rpx;}

.w-70{width: 70%;}
.w-90{width: 90%;}


.wh120{width: 120rpx;height: 120rpx;margin-right: 20rpx;}
.wh60{width: 60rpx;height: 60rpx;}

.f5-2{height: 20rpx;background-color: #f5f5f5;}

/* 无数据 */
.nodata{width: 360rpx;height: 360rpx;margin:100rpx auto;}
.nodata image{width: 100%;height: 100%;}

/* 右侧固定按钮 */
.R-fixIcon{width: 90rpx;height: 90rpx;position: fixed;bottom:40%;right:20rpx;z-index:30;}
.R-fixIcon image{width: 100%;height: 100%;}

/* 购物车按钮显示数量 */
.carNum{position: absolute;left: 75%;top: -12rpx;z-index: 2;height: 30rpx;line-height: 30rpx;min-width: 30rpx;border-radius: 20rpx;box-sizing: border-box;font-size: 22rpx; color:#fff;padding: 0 6rpx;background-color: #ed0000; text-align: center;}

/* #endif */
/* 主色调 */
/* 主背景颜色（橙色）*/
.Mgb{background-color: #FF6740;}
.bg-f5{background-color: #f5f5f5;}
.bg-black{background: #000}
/* 主点击背景颜色（淡橙色）*/

/* 主字体颜色（橙色）*/
.Mcolor{color: #FF6740;}
.colorR{color: #EC2B2B;}

.borderM{border: 1px solid #FF6740;}


.f5Bj-H10{height: 10rpx; background: #f5f5f5;}
.f5Bj-H20{ height: 20rpx; background: #f5f5f5;}
.f5bj{background: #f5f5f5;}
.whiteBj{background: #fff;}

.price{ color: #EC2B2B;}
.price::before{content: "￥";}
.priceIcon{width: 28rpx;height: 28rpx;margin-right: 8rpx;}
.priceF{ color: #e01313;}
.priceF::before{content: "积分:";font-size: 24rpx;}
.priceM::after{content: "/㎡";}
.yuanJia{ color: #999; font-size: 24rpx; text-decoration: line-through; }
.yuanJia::before{content: "￥";}


/* 底部 */
.footer{height: 100rpx;width:100%;border-top: 1px solid #e1e1e1;position: fixed;bottom: 0;display: flex;justify-content: space-between;background-color: #fff;padding-bottom: 10rpx;box-sizing: content-box;z-index: 1000;}
.footer .item{width: 20%;display: flex;flex-direction: column;align-items: center;color: #666;font-size: 22rpx;justify-content: center;}
.footer .on{color: #000;}
.footer .item image{margin-bottom: 10rpx;width: 44rpx;height: 44rpx;margin-top: 10rpx;}
.footer .item:nth-child(3) image{width: 50rpx;height: 44rpx;}

/* 返回按钮 */
.back{position: absolute;top: 0;left: 0;z-index: 100;}
.back image{width: 24rpx!important;height: 44rpx!important;margin: 30rpx;}

/* 按钮 */
.btn690{background-color: #FF6740;text-align: center;color: #fff;font-size: 30rpx;line-height: 80rpx;border-radius: 40rpx;margin: 0 30rpx;width: 690rpx;}

/* 页面铺满背景图 */


/* 顶部返回箭头按钮 */


/* 会员 */
.vipBg2{width: 213rpx;height:270rpx;}
.vipPrice{font-size: 102rpx;font-family: 'Impact';}
.vipPrice::before{content: '￥';font-size: 22rpx;font-weight: 800;}

/* 列表按钮 */
.li{line-height: 100rpx;text-align: center;}
.list .on{color: #FF6740;position: relative;}
.list .on::before{content: '';background-color: #FF6740;width: 30rpx;height: 6rpx;position: absolute;bottom: 0;left: 0;right: 0;margin: auto;}

/* 数量加减 */
.count{width: 150rpx;height: 40rpx;}
.count .num{width: 70rpx;}

/* 购物车 */
.carBot{height: 100rpx;}
.carBtn{width: 260rpx;line-height: 100rpx;text-align: center;background: #FF6740;color: #fff;}
.shopImg{width: 183rpx;height: 183rpx;}
.carSpan{background-color: #FDF7F5;line-height: 36rpx;}



.fx-icon{width: 30rpx;height: 30rpx;margin-right: 10rpx;}
.ps-icon{width: 20rpx;height: 20rpx;margin-right: 10rpx;}
.R-icon{width: 12rpx;height: 22rpx;margin-left: 10rpx;}
.x-icon{width: 22rpx;height: 22rpx;}
.shop-icon{width: 36rpx;height: 36rpx;}
.count-icon1{width: 20rpx;height: 2rpx;margin: auto;}
.count-icon2{width: 20rpx;height: 20rpx;margin: auto;}
.hx-icon{width: 60rpx;height: 60rpx;}
.zt-icon{width: 100%;height: 6rpx;}